@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

.body {
    background-color: #E5E4CC;
    font-family: 'Heebo', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.header__title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: #304539;
    text-shadow: 1px 2px 5px rgba(19, 28, 18, 0.868);
    padding: 35px 0;
    position: relative;
}

.header__title::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    height: 2px;
    width: 250px;
    background: #304539;;
}

.portfolio__holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.portfolio__item {
    position: relative;
    box-shadow: 7px 8px 10px #071204;
    transition: .3s all;
}

.portfolio__item:hover {
    transform: scale(1.03);
}

.portfolio__link img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.portfolio__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #3c6c51d6;
    padding: 0;
    color: #e8e8df;
    height: 0;
    overflow: hidden;
    font-size: 18px;
    transition: all .3s;
}

.portfolio__link:hover .portfolio__info{
    height: 40px;
    padding: 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: #304539;
    font-weight: 300;
}

.footer__social {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 20px;
}

.footer__link img {
    width: 40px;
    height: 40px;
}